.head-panel {
    background-color: var(--light-green);
    margin-top: -1.1rem;
    padding: 10px;
}

.discussion-panel {
    height: 85vh;
    overflow-y: scroll;
}

.ticket-info { padding: 10px; }


.action-panel { border-left: 1px solid var(--dark-green); }